@model IEnumerable<Amazonweb.Models.AmazonProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLoginSignup.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KeyWordId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyWordName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExactMatchSearchVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadMatchSearchVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominantCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendedGiveaway)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSABid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExactPPCBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadPPCBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EaseToRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelevancyScore)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWordId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWordName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExactMatchSearchVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BroadMatchSearchVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DominantCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecommendedGiveaway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSABid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExactPPCBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BroadPPCBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EaseToRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelevancyScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
       
@*}*@
    
</table>
