@model IEnumerable<Amazonweb.Models.GetProductModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function getCheckBoxValue(ASIN, Index) {
        var asin = ASIN;
        var VarIsFetured = false;
        var ChkBoxId = "chk " + Index;
        var Chkbox = document.getElementById(ChkBoxId);
        if (Chkbox.checked == true) {
            VarIsFetured = true;
        }
        else {
            VarIsFetured = false;
        }
        $.ajax({
            url: "../../UserProduct/AddFeatured",
            type: "POST",
            data: {
                ASIN: asin,
                IsFeatured: VarIsFetured,

            },
            success: function (result) {
            }
        });
    }
</script>
<div class="am-pagetitle">
    <h5 class="am-title">Products</h5>
    @Html.ActionLink("Create New", "AddProduct")
</div>
<div class="am-pagebody">
    <div class="card pd-20">
        <div class="table-responsive">
            <table class="table table-striped mg-b-0" id="datatable1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ASIN)
                        </th>
                        @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.categoryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.isFeatured)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ASIN)
                            </td>
                            @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.categoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>

                                <input type="checkbox" onclick="getCheckBoxValue('@(item.ASIN)','@i')" checked="@(item.isFeatured)" id="chk @i" name="chk @i" />
                                @*@Html.CheckBoxFor(modelItem => item.isFeatured)*@
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete","Delete", new { Asin = item.ASIN })
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
