<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Amazon Champ</title>

    <link rel="stylesheet" href="~/TemplateThemes/Template1/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TemplateThemes/Template1/vendor/css/shop-homepage.css" />
    @Scripts.Render("~/Template1/jquery")
         @RenderSection("Scripts", false/*required*/)

</head>
<body>    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        @*<a class="nav-link" href="~/u/gurvinder/Index">*@
                            @Html.ActionLink("Home", "Index", "Template1")
                        <span>&nbsp;</span>
                        @*</a>*@
                    </li>
                    <li class="nav-item">
                        @* <a class="nav-link" href="u/virender/About">About</a>*@
                        @*@Html.RouteLink("About", new { action = "About", controller = "Template1", area = "About" })*@
                            @Html.ActionLink("About", "About", "Template1")
                        <span>&nbsp;</span>
                    </li>
                    <li class="nav-item">
                        @* <a class="nav-link" href="~/Services">Services</a>*@
                        
                            @Html.ActionLink("Services", "services", "Template1")
                      
                        <span>&nbsp;</span>
                    </li>
                    <li class="nav-item">
                        @*  <a class="nav-link" href="~/Contactus">Contact</a>*@
                        @Html.ActionLink("Contactus", "Contactus", "Template1" )
                        <span>&nbsp;</span>
                    </li>
                    <li class="nav-item">
                        @*  <a class="nav-link" href="~/Contactus">Contact</a>*@
                        @Html.ActionLink("Product", "Product", "Template1")
                        <span>&nbsp;</span>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    @RenderBody()

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

</body>
</html>





